body {
  padding: 0;
  min-width: 430px;
}

.phone-card {
  margin: 2%;
}

.phone-card .for-button {
  text-align: right;
}

.basket-wrap {
  position: absolute;

}

.for-basket-detail {
  position: relative;
  width: 200px;
  right: 150px;
  background-color: white;
  border: 1px solid black;
}
